#q1a{
  background-color: red;
  height: 200px;
  width: 200px;
}
#q1b{
  background-color: blue;
  height: 200px;
  width: 200px;
}
#q1c{
  background-color: green;
  height: 100px;
  width: 100px;
}
